@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --min-width: 370px;
  --max-width: 430px;
  --lh: 22px;
  --ls: -0.04em;
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

  /* 라이트 테마, 수정필요 */
  --background: #1d1b20;
  --secondary: #262626;
  --descript: #e1e1e1;
  --boundary: #303030;
}

.dark {
  --background: #1d1b20;
  --secondary: #262626;
  --descript: #e1e1e1;
  --boundary: #303030;
}

@theme {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-descript: var(--descript);
  --color-boundary: var(--boundary);
  --color-category-activity: #e5533d;
  --color-category-tech: #2563eb;
  --color-category-essay: #7c3aed;
  --color-category-review: #059669;
}

@layer utilities {
  /* ===== Typo ===== */
  .title1 {
    font-size: 24px;
    font-weight: bold;
    line-height: var(--lh);
  }
  .title2 {
    font-size: 18px;
    font-weight: bold;
    line-height: var(--lh);
  }
  .body1 {
    font-size: 16px;
    font-weight: 500;
    line-height: var(--lh);
  }
  .caption {
    font-size: 12px;
    font-weight: 400;
    line-height: var(--lh);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
